
.list  { 
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:12px;
    padding-inline: 10px;     
    padding-block: 10px;
 
 }

 