.header{
    background-color:rgb(48, 41, 41); 
    width:80rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding-block: 20px;
    scroll-padding-top: 20px;
    color: aliceblue;
    
    }
